body{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 6vw;
    font-family: 'Ubuntu Mono', monospace;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    text-align: start;
    font-size: 1.2em;
}

p{
    margin-left: 1vw;
    text-align: justify;
    margin-right: 1vw;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin-top: 2vw;
    
    border-color: #005468;
    border-style: solid;
    border-radius: 1vw;
}

li{
    margin: 0.5vw;
}

button{
    background-color: #00bbbc;
    border-color: #00bbbc;

    color: white;
    font-size: 1em;
    
    max-inline-size: 6em;
    margin-left: 2vw;    
}

button:hover{
    background-color: #005468;
    border-color: #005468;
}


input{
    background-color: rgba(63, 210, 142, 0.05);
}

.field-group{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

.resultado{
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

@media  only screen and (min-width: 340px){
    body{
        font-size: 4vw;
    }

    p{
        max-width: none;
    }

    input{
        font-size: 4vw;
        height: 4.5vw;
        max-width: 80vw;
        border-radius: 1.4vw;
    }

    form{
        align-items: center;
    }

    .resultado{
        max-width: none;
    }
    button{
        height: 8vw;
        border-radius: 1.4vw;
    }
}


@media(min-width: 600px){
    body{
        font-size: 2vw;
    }

    .resultado{
        max-width: none;
    }

    form{
        justify-content: center;
    }

    form{
        align-items: center;
    }

    input{
        font-size: 2vw;
        height: 2.5vw;
        max-width: 40vw;
        border-radius: 0.7vw;
    }

    button{
        height: 4vw;
        border-radius: 0.7vw;
    }

    ul{
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media only screen and (min-width: 800px){
    .page-content{
        height: 100vh;
        background-image: url('../../assets/43069.jpg');
        background-size: 35vw;
        background-repeat: no-repeat;
        background-position-x: 50vw;
        background-position-y: 15vw;
    }

    form{
        align-items: flex-start;
    }

    body{
        font-size: 1.5vw;
    }

    .resultado{
        max-width: 40vw;
    }

    input{
        font-size: 1.5vw;
        height: 2vw;
        max-width: 20vw;
        border-radius: 0.5vw;
    }

    ul{
        padding: 0.5vw;
    }

    button{
        height: 3vw;
        border-radius: 0.5vw;
    }
}
