body{
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 6vw;
    font-family: 'Ubuntu Mono', monospace;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    text-align: start;
    font-size: 1.2em;
}

p{
    margin-left: 1vw;
    text-align: justify;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;

    margin-top: 2vw;
    
    border-color: #005468;
    border-style: solid;
    border-radius: 1vw;
}

li{
    margin: 0.5vw;
}

button{
    height: 3vw;

    background-color: #00bbbc;
    border-color: #00bbbc;

    color: white;
    font-size: 1em;
    
    max-inline-size: 6em;
    margin-left: 2vw;
    
    border-radius: 0.5vw;
}

button:hover{
    background-color: #005468;
    border-color: #005468;
}


input{
    font-size: 1em;
    border-radius: 0.5vw;
    max-width: 20vw;
    height: 2vw;
    background-color: rgba(63, 210, 142, 0.05);
}

.field-group{
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
}

.resultado{
    display: flex;
    justify-content: center;
    
    max-width: 40vw;
}

@media(min-width: 340px){
    body{
        font-size: 4vw;
    }

    p{
        max-width: none;
    }
}


@media(min-width: 600px){
    body{
        font-size: 2vw;
    }
}

@media only screen and (min-width: 800px){
    .page-content{
        height: 100vh;
        background-image: url('../../assets/43069.jpg');
        background-size: 35vw;
        background-repeat: no-repeat;
        background-position-x: 60vw;
        background-position-y: 15vw;
    }

    body{
        font-size: 1.5vw;
    }
}
